<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1044074481583-c7g850jgkjdq7ch2jah5cc7jachc31kc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1044074481583-c7g850jgkjdq7ch2jah5cc7jachc31kc</string>
	<key>API_KEY</key>
	<string>AIzaSyC_4Oa36DqzgU3X1sQQ6ybIqZ7XaaEpsJQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1044074481583</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.councellingBookingApp</string>
	<key>PROJECT_ID</key>
	<string>ssis-android-counselling-app</string>
	<key>STORAGE_BUCKET</key>
	<string>ssis-android-counselling-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1044074481583:ios:7b6c51cfbe70991762115a</string>
	<key>DATABASE_URL</key>
	<string>https://ssis-android-counselling-app-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>